<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Agenda</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/contact" style="color: white;">Cadastrar Contato</a>
                </li>
                <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/enter" style="color: white;">Login</a>
                    </li>
                    <% } %>
                        <% if(user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout" style="color: white;">Logout</a>
                            </li>
                            <% } %>
        </div>
    </div>
</nav>